<%= link_to 'Home', '/' %><br><br>

<%= link_to 'New Tasklist', '/tasklists/new' %>

<% if current_tasklist %>
  <% @tasklists.each do |list| %>
    <h3><%= list.title %></h3>
    <p><%= list.description %></p>
    <p><%= list.created_at %></p>
    <%= link_to 'Current Tasks', '/tasks' %>
  <% end %>
<% end %>
