<br><%= link_to 'New Tasklist', '/tasklists/new' %>

<% if current_user %>

  <% @tasklists.each do |list| %>
    <% if list.user_id == current_user.id %>
      <h3><%= list.title %></h3>
      <p><%= list.description %></p>
      <p><%= list.created_at %></p>
      <%= link_to 'Edit Tasklist', edit_tasklist_path(list) %>
      <%= link_to 'Delete Tasklist', list, method: :delete %>
      <%= link_to 'Current Tasks', '/tasks' %>
    <% end %>
  <% end %>
<% end %>
