<h3><%= @tasklist.title %></h3>
<h6><%= @tasklist.description %></h6>
<ul>
<% @tasks.each do |task| %>
  <% if task.tasklist_id == @tasklist.id %>
    <li>
      <%= check_box_tag task.status %><%= link_to task.title, task_path(task) %>
    </li>
  <% end %>
<% end %>
</ul>
<%= link_to 'New Task', '/tasks/new' %><br>
<%= link_to 'Back to Tasklists', '/tasklists' %>
