<%= link_to 'Home', '/' %>
<%= link_to 'Task Lists', '/tasks' %>


<h3><%= @task.title %></h3>
<h6><%= @task.status %></h6>
<h6><%= @task.due_date %></h6>
<h6><%= @task.start_date %></h6>
<h6><%= @task.notes %></h6>


