<br><%= link_to 'Back to tasks', '/tasks' %>

<h3><%= @task.title %></h3>
<h6>Completed: <%= check_box_tag @task.status, 'status', true, class: "checkbox" %></h6>
<h6><%= @task.due_date %></h6>
<h6><%= @task.start_date %></h6>
<h6><%= @task.notes %></h6>


